* {
	font-family: 'DM Sans';
}

.main {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100vh;
	color: white;
	& > div:last-of-type {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
}

.main-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100vh;
	color: white;

	& > h1 {
		font-family: 'Syne';
		font-size: 5em;
		min-height: 20vh;
	}

	label {
		text-indent: 0.3em;
		margin-bottom: 0.1em;
		font-size: large;
	}

	.start-screen-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1em;
		justify-self: center;
		min-height: 30vh;
	}

	.start-screen-inputs {
		display: flex;
		flex-direction: column;
		& > input {
			margin-bottom: 1em;
		}
	}

	.start-screen-buttons {
		display: flex;
		color: black;
		gap: 1em;
	}

	.game-screen-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1em;
		justify-self: center;
		width: 300px;
		min-height: 30vh;
		.host-controls > div {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	& > footer {
		min-height: 30vh;
		display: flex;
		flex-direction: column;
		justify-content: end;
	}

	.timer {
		display: flex;
		margin: 0 0 0.5em 0;
		gap: 0.2em;
		& > p {
			margin: 0;
		}
	}
}