* {
	font-family: 'DM Sans';
}

.main {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100vh;
}

.main-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100vh;
	width: 100%;

	@media screen and (max-width: 1000px) {
		padding-left: 0 !important;
	}

	& > h1 {
		font-family: 'Syne';
		font-size: 5em;
		height: 25vh;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		@media screen and (max-width: 1000px) {
			height: 20vh;
		}
		@media screen and (max-width: 450px) {
			font-size: 3.5em;
		}
	}

	label {
		text-indent: 0.3em;
		margin-bottom: 0.1em;
		font-size: large;
	}

	.start-screen-content {
		display: flex;
		flex-direction: column;
		justify-content: end;
		gap: 1em;
		height: 30vh;
		@media screen and (max-width: 1000px) {
			height: 35vh;
		}
	}

	.start-screen-inputs {
		display: flex;
		flex-direction: column;
		& > input {
			margin-bottom: 1em;
		}
	}

	.start-screen-buttons {
		display: flex;
		gap: 1em;
	}

	.game-screen-content {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		gap: 1em;
		justify-self: center;
		width: 300px;
		height: 30vh;
		.host-controls > div {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		@media screen and (max-width: 1000px) {
			height: 35vh;
			&:has(.timer:not(.invisible)) {
				height: 10vh;
			}
		}
	}

	& > footer {
		height: 45vh;
		display: flex;
		flex-direction: column;
		justify-content: end;
		@media screen and (max-width: 1000px) {
			height: 70vh;
		}
	}

	.timer {
		display: flex;
		align-items: baseline;
		margin: 0 0 0.5em 0;
		@media screen and (max-width: 450px) {
			justify-content: center;
		}
	}
}