* {
	font-family: 'DM Sans';
}

.main {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100vh;
}

.main-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: 100vh;
	width: 100%;

	@media screen and (max-width: 1000px) {
		padding-left: 0 !important;
		justify-content: start;
	}

	& > h1 {
		font-family: 'Syne';
		font-size: 5em;
		height: 25vh;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		@media screen and (max-width: 1000px) {
			height: 20vh;
		}
		@media screen and (max-width: 450px) {
			font-size: 3.5rem;
		}
	}

	label {
		text-indent: 0.3rem;
		margin-bottom: 0.1em;
		font-size: large;
	}

	.start-screen-content {
		display: flex;
		flex-direction: column;
		justify-content: end;
		height: 30vh;
		@media screen and (max-width: 1000px) {
			height: auto;
		}
	}

	.start-screen-inputs {
		display: flex;
		flex-direction: column;
		& > input:first-of-type {
			margin-bottom: 1em;
		}
	}

	.start-screen-buttons {
		display: flex;
		gap: 1em;
		& > button {
			width: 147px;
		}
	}

	.lobbies-list {
		position: absolute;
		top: 55vh;
		width: 30rem;
		@media screen and (max-width: 1000px) {
			margin-top: 2em;
			width: auto;
			position: static;
		}
	}

	.lobbies-list > ul {
		display: flex;
		flex-direction: column;
		gap: 1em;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.lobbies-list > ul > li {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: inherit;
		color: rgba(255, 255, 255, 0.87);
		background-color: var(--button-background-color);
		border-radius: 8px;
		padding: 0.5em 1em;
		gap: 10px;
		cursor: pointer;
		transition: border-color 0.25s;
		box-shadow: 0 0 3px 1px #000000, inset 0 0 0 100px rgba(0, 0, 0, 0.6);
		background-image: url(https://picsum.photos/380/80?random0);
		background-position: center;
		overflow: hidden;
		h2 {
			margin: 0;
			font-size: 2em;
		}
		.join-lobby-button {
			width: 100%;
			height: 100%;
			background: radial-gradient(
				circle at 50% 50%,
				rgba(52, 104, 48, 0.5) 0%,
				rgba(0, 0, 0, 0.5) 100%
			);
			position: absolute;
			right: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 0;
			transition: opacity 0.25s, transform 0.25s;
			transform: translateY(0.5em);
		}
		&:hover > .join-lobby-button {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.game-screen-content {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		gap: 1em;
		justify-self: center;
		width: 300px;
		height: 30vh;
		.host-controls > div {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		@media screen and (max-width: 1000px) {
			&:has(.timer:not(.invisible)) {
				height: 44vh;
			}
		}
	}

	.round-summary {
		display: flex;
		position: relative;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1em;
		width: 338px;
		height: 30vh;
		h3 {
			text-align: center;
		}
	}

	.summary-list {
		display: flex;
		flex-direction: column;
		padding: 0;
		list-style-type: none;
		counter-reset: list-counter;
		width: 100%;
		li {
			counter-increment: list-counter;
			width: -webkit-fill-available;;
			position: relative;
			padding: 0 0 .5em 2em;
			margin-bottom: 2.5em;
			border-bottom: 1px solid var(--text-color);
			text-align: left;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			::before {
				color: inherit;
			}
			p {
				margin: 0;
			}
		}
		li::before {
			content: counter(list-counter) ".";
			color: var(--text-color);
			font-size: 2em;
			line-height: 1;
			position: absolute;
			left: 0;
			bottom: 10px;
		}
	}

	& > footer {
		height: 45vh;
		display: flex;
		flex-direction: column;
		justify-content: end;
		@media screen and (max-width: 1000px) {
			height: auto;
			margin-top: auto;
		}
	}

	.timer {
		display: flex;
		align-items: baseline;
		margin: 0 0 0.5em 0;
		@media screen and (max-width: 450px) {
			justify-content: center;
			margin: 0 0 1em 0;
		}
	}
}