.game-summary {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 30vh;
}

.game-summary-player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
    & > p > span {
        font-size: 1.8rem;
    }
}