.game-summary {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 30vh;
    width: 338px;
    & > div:last-of-type {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        button {
            width: 161px;
        }
    }
}