@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('/fonts/Syne-Bold.ttf') format('truetype');
    font-display: swap;
}

:root {
    --background-color: #1b2027;
    --text-color: rgba(255, 255, 255, 0.87);
    --accent-color: #535bf2;
    --accent-color-2: #8491e6;
    --button-background-color: #1a1a1a;
    --additional-color: #131313;
    --incorrect-color: #e25d68;
    --correct-color: #00ff00;

    font-family: 'DM Sans';
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--text-color);
    background-color: var(--background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    text-decoration: inherit;
}

a:hover {
    color: var(--accent-color);
}

body {
    margin: 0;
}

h1 {
    font-size: 3.2rem;
    line-height: 1.1;
}

h2 {
    font-size: 2.6rem;
    line-height: 1.1;
    text-align: center;

    @media screen and (max-width: 450px) {
        font-size: 2rem;
    }
}

button,
input[type='text'],
input[type='number'],
select {
    font-family: inherit;
    font-weight: 500;
    color: var(--text-color);
    background-color: var(--button-background-color);
    border-radius: 8px;
    border: 2px solid transparent;
    box-shadow: 0 0 3px 1px #000000;
    transition: border-color 0.25s;
}

button:hover,
button:focus,
button:focus-visible,
button:active,
input[type='text']:focus,
input[type='number']:focus,
select:focus {
    outline: none;
    border-color: var(--accent-color);
}

button {
    padding: 0.6em 1.2em;
    font-size: 1rem;
    cursor: pointer;
}

select {
    padding: 0.1em;
    font-size: 0.9rem;
    cursor: pointer;
}

input[type='text'],
input[type='number'] {
    padding: 0.5em;
    font-size: 1rem;
}

input[type='range'] {
    cursor: pointer;
}

.inline-form-group {
    display: flex;
    align-items: baseline;
    gap: 0.5em;
}

dialog {
    color: var(--text-color);
    background-color: var(--background-color);
}

.error {
    color: var(--incorrect-color);
    margin: 0 0 0.5em 0;
    line-height: 1.2;
    height: 20px;
    white-space: nowrap;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

:root[data-theme='light'] {
    --background-color: #f9f9f9;
    --text-color: #333;
    --accent-color: #6b7ffd;
    --button-background-color: #f9f9f9;
    --additional-color: #ccc;
}

:root[data-theme='dark'] {
    --background-color: #1b2027;
    --text-color: rgba(255, 255, 255, 0.87);
    --accent-color: #535bf2;
    --button-background-color: #1a1a1a;
    --additional-color: #131313;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #f9f9f9;
        --text-color: #333;
        --accent-color: #6b7ffd;
        --button-background-color: #f9f9f9;
        --additional-color: #ccc;
    }
}