@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('/fonts/Syne-Bold.ttf') format('truetype');
    font-display: swap;
}

:root {
    --background-color: #1b2027;
    --text-color: rgba(255, 255, 255, 0.87);
    --link-color: #646cff;
    --link-hover-color: #535bf2;
    --button-background-color: #1a1a1a;
    --button-hover-color: #646cff;
    --error-color: #e25d68;
    --correct-color: #00ff00;

    font-family: 'DM Sans';
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--text-color);
    background-color: var(--background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: var(--link-color);
    text-decoration: inherit;
}

a:hover {
    color: var(--link-hover-color);
}

body {
    margin: 0;
}

h1 {
    font-size: 3.2rem;
    line-height: 1.1;
}

h2 {
    font-size: 2.6rem;
    line-height: 1.1;
    text-align: center;
    @media screen and (max-width: 450px) {
        font-size: 2rem;
    }
}

button {
    color: var(--text-color);
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--button-background-color);
    cursor: pointer;
    transition: border-color 0.25s;
    box-shadow: 0 0 3px 1px #000000;
}

button:hover,
button:focus,
button:focus-visible {
    border-color: var(--link-hover-color);
}

input[type='text'],
input[type='number'] {
    color: var(--text-color);
    padding: 0.5em;
    border-radius: 8px;
    border: 2px solid transparent;
    background-color: var(--button-background-color);
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
    box-shadow: 0 0 3px 1px #000000;

    &:focus {
        outline: none;
        border-color: var(--link-hover-color);
    }
}

input[type='range'] {
    cursor: pointer;
}

dialog {
    color: var(--text-color);
    background-color: var(--background-color);
}

.error {
    color: var(--error-color);
    margin: 0.5em 0;
    height: 24px;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

:root[data-theme='light'] {
    --background-color: #f9f9f9;
    --text-color: #333;
    --link-color: #747bff;
    --link-hover-color: #535bf2;
    --button-background-color: #f9f9f9;
}

:root[data-theme='dark'] {
    --background-color: #1b2027;
    --text-color: rgba(255, 255, 255, 0.87);
    --link-color: #646cff;
    --link-hover-color: #535bf2;
    --button-background-color: #1a1a1a;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #f9f9f9;
        --text-color: #333;
        --link-color: #747bff;
        --link-hover-color: #535bf2;
        --button-background-color: #f9f9f9;
    }
}