.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: 100%;
    background-color: #1a1a1a;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    & > h2 {
        margin-top: 30%;
    }
    .volume {
		display: flex;
		flex-direction: column;
		margin: 1em;
		& > label {
			text-indent: 0.3em;
			margin-bottom: 0.1em;
			font-size: large;
		}
		& > input {
			margin-bottom: 1em;
		}
	}
}

.leaderboard {
    padding: 0 7%;
    width: 86%;
}

.leaderboard-players {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.leaderboard-player {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #ffffff;
    & > p {
        margin-right: 20px;
    }
    & > span {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-left: 20px;
    }
}