.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    min-width: 300px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
    & > h2 {
        margin-top: 30%;
    }
    .volume {
		display: flex;
		flex-direction: column;
		margin: 1em;
		& > label {
			text-indent: 0.3em;
			margin-bottom: 0.1em;
			font-size: large;
		}
		& > input {
			margin-bottom: 1em;
		}
	}
    @media  (max-width: 1000px) {
        display: none;
    }
}

.leaderboard {
    width: 86%;
}

.leaderboard-players {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.leaderboard-player {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--text-color);
    & > p {
        margin-right: 20px;
    }
    & > span {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-left: 20px;
    }
}