.sidebar {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25vw;
    min-width: 360px;
    margin-left: calc(-25vw + 83px);
    transition: margin-left 0.4s ease-in-out;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: bold;
    text-align: center;
    box-shadow:  var(--box-shadow-color);
    & > h2 {
        margin-top: 30%;
    }
    .sidebar-buttons {
        display: flex;
        width: calc(100% - 40px);
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 0 3px 8px 20px;
        transition: padding 0.3s ease-in-out;
    }
    &.open {
        margin-left: 0px;
        .sidebar-buttons {
            padding: 0 20px 8px 20px;
        }
    }
    .settings-button, .leave-button {
        display: flex;
        padding: 4px;
        box-shadow:  var(--box-shadow-color);
        &:focus {
            outline: none;
            border: 2px solid transparent;
        }
        &:hover {
            border: 2px solid var(--accent-color);
        }
    }
    .settings-button {
        & > svg {
            transition: rotate 0.3s ease-in-out;
        }
        &:hover > svg {
            rotate: 90deg;
        }
    }
    .leave-button {
        & > svg {
            transition: rotate 0.2s ease-in-out, transform 0.2s ease-in-out;
        }
        &:hover > svg {
            rotate: 8deg;
            transform: translateX(4px);
        }
    }
    .volume {
		display: flex;
		flex-direction: column;
		& > label {
			text-indent: 0.3rem;
			margin-bottom: 0.1em;
			font-size: large;
		}
		& > input {
			margin-bottom: 1em;
		}
	}
    @media (max-width: 1000px) {
        display: none;
    }
    @media (max-width: 1500px) {
        margin-left: calc(-360px + 66px);
    }
}

body:has(.settings-dialog[open]) .sidebar .settings-button svg {
    rotate: 90deg;
}

.settings-dialog {
    position: fixed;
    justify-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow:  var(--box-shadow-color);
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 20px;
    .settings-dialog-content {
        text-align: center;
        background-color: var(--background-color);
        padding: 50px;
        border: 2px solid rgb(127 127 127 / 50%);
        border-radius: 10px;
        width: min-content;
        & > .inline-form-group {
            justify-content: space-between;
        }
        h2 {
            margin-top: 0;
            margin-bottom: 25px;
        }
    }
}

.leaderboard {
    width: 86%;
    opacity: 0;
}

.leaderboard-players {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    .clients-player {
        background-color: var(--additional-color);
    }
    .leaderboard-player:first-child {
        border-radius: 8px 8px 0 0;
    }
    .leaderboard-player {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid var(--text-color);
        & > p {
            margin-right: 20px;
        }
        & > span {
            display: flex;
            align-items: center;
            gap: 30px;
            margin-left: 20px;
            & > p:last-child {
                display: flex;
                gap: 5px;
            }
        }
    }
}