.song-picker {
    position: fixed;
    bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    margin: 0 3vw;
    max-height: 45vh;
    width: -webkit-fill-available;
    @media screen and (max-width: 1000px) {
        max-height: 70vh;
        & > h2 {
            margin: 0;
        }
    }
}

.song-picker-songs {
    display: flex;
    gap: clamp(1rem, 3vw, 2rem);
    @media screen and (max-width: 1000px) {
        display: grid;
        grid: 1fr 1fr / 1fr 1fr;
        margin: 1em 0;
        & > :nth-child(odd) {
            justify-self: end;
        }
        & > :nth-child(even) {
            justify-self: start;
        }
    }
}

.song-picker-song {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    max-width: 25ch;
    width: 100%;
    border-radius: 10%;
    background-color: #1a1a1a;
    overflow: hidden;
    cursor: pointer;

    & > img {
        width: 87%;
        aspect-ratio: 1 / 1;
        border-radius: calc(10% * 87 / 100);
        object-fit: none;
        -webkit-user-select: none;
        user-select: none;
    }

    &.disabled:not(.selected) {
        background-color: #000000;
        color: red;
        opacity: 0.5;
        cursor: not-allowed;
    }

    &.selected {
        background-color: #ffffff;
    }
    &.correct {
        background-color: #42e042;
    }
    &.incorrect {
        background-color: #df4754;
    }
}

.song-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    bottom: 6%;
    width: 87%;
    aspect-ratio: 1 / 1;
    border-radius: calc(10% * 87 / 100);
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    color: white;
    text-align: center;
    font-size: 1.1rem;
    -webkit-user-select: none;
    user-select: none;

    & > p {
        margin: 0;
        padding: 0.5em;
    }
}