.song-picker {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2em;
    min-height: 30vh;
}

.song-picker-songs {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.song-picker-song {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 10%;
    background-color: #1a1a1a;
    overflow: hidden;
    cursor: pointer;

    & > img {
        width: 220px;
        height: 220px;
        border-radius: 10%;
        object-fit: none;
        -webkit-user-select: none;
        user-select: none;
    }

    &.disabled:not(.selected) {
        background-color: #000000;
        color: red;
        opacity: 0.5;
        cursor: not-allowed;
    }

    &.selected {
        background-color: #ffffff;
    }
    &.correct {
        background-color: #42e042;
    }
    &.incorrect {
        background-color: #df4754;
    }
}

.song-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    bottom: 15px;
    border-radius: 10%;
    width: 220px;
    height: 220px;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    color: white;
    text-align: center;
    font-size: 1.1em;
    -webkit-user-select: none;
    user-select: none;

    & > p {
        margin: 0;
        padding: 0.5em;
    }
}